venv/
.idea/
Redshift-Cluster/**/.terraform
Redshift-Cluster/**/bin
Redshift-Cluster/**/certifi
Redshift-Cluster/**/certifi-2020.12.5.dist-info
Redshift-Cluster/**/chardet
Redshift-Cluster/**/chardet-4.0.0.dist-info
Redshift-Cluster/**/idna
Redshift-Cluster/**/idna-2.10.dist-info
Redshift-Cluster/**/requests
Redshift-Cluster/**/requests-2.25.1.dist-info
Redshift-Cluster/**/urllib3
Redshift-Cluster/**/urllib3-1.26.4.dist-info
Redshift-Cluster/**/src.zip
Redshift-Cluster/**/terraform.*
Redshift-Cluster/**/*terraform*
boto3Examples/**/.terraform



